<!--Final project
Exotic Car Rental
CONTACT PAGE
Authors: Trang + David-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>Exotic Car Rental</title>
</head>
<!--HEADER-->
<nav class ="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <center><a class="nav-link active" href="../finalproject">
            <h1><font color="gray">Exotic Car Rental</font></h1></a></center>
       </li>
        <li class="nav-item">
            <center><a class="nav-link active" href="../finalproject">
            <h3><font color="gray">Home</font></h3></a></center>
        </li>
        <li class="nav-item">
            <center><a class="nav-link" href="fleet">
            <h3><font color="gray">Our Fleet</font></h3></a></center>
        </li>
        <li class="nav-item">
            <center><a class="nav-link" href="contact">
            <h3><font color="gray">Contact</font></h3></a></center>
        </li>
        <li class="nav-item">
            <center><a class="nav-link " href="admin">
            <h3><font color="gray">Admin</font></h3></a></center>
        </li>
    </ul>
</nav>
<body>
<!--IMAGE-->
<div class="center">
    <div class="form-group col-md-12">

    <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
        <li data-target="#demo" data-slide-to="6"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="images/lambo1.png" alt="">
            <center><h2> LAMBORGHINI AVENTADOR  $1699 </h2></center></p>
        </div>
        <div class="carousel-item">
            <img src="images/lambo2.png" alt="">
            <center><h2> LAMBORGHINI HURACÁN   $1299 </h2></center></p>
        </div>

        <div class="carousel-item">
            <img src="images/lambo4.png" alt="">
            <center><h2> LAMBORGHINI GALLARDO $799 </h2></center></p>
        </div>

        <div class="carousel-item">
            <img src="images/audi.png" alt="">
            <center><h2> AUDI R8 V10 $799 </h2></center></p>
        </div>

        <div class="carousel-item">
            <img src="images/bmw.png" alt="">
            <center><h2> BMW I8 COUPE $599 </h2></center></p>
        </div>

        <div class="carousel-item">
            <img src="images/mclaren.png" alt="">
            <center><p>MCLAREN 650S $799</p></center></p>
        </div>
    </div>

    <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

  </div>
</div>

<!--VIDEO-->
<center><iframe width="1292" height="752" src="https://www.youtube.com/embed/-LLsNjYNRts"
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe></center>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>